body{
  background-image:url(https://upload.wikimedia.org/wikipedia/ru/3/3d/Made_in_Abyss.jpg);
  background-size: auto;
}
.pdiv{
  font-family: fantasy;
  font-size: 60px;
  color: black;

}
.biografi{
  font-family: fantasy;
  font-size: 40px;
  color:#2f8763;
border: 10px solid black;
}
.History p {
  font-family: fantasy;
  font-size: 60px;
  color: black;
}
.History{
  font-family: fantasy;
  font-size:40px;
  color:#80aecf;
  border: 10px solid black;
}
.History {
  margin-top: 30%;
}
.footer{
  font-family: fantasy;
  font-size:25px;
  color: black;
margin: 0px;
}
.footer img{
border: 3px solid #58606e;
border-radius: 15px;
margin-top: 50px;
}
.footer button{
  border-radius: 15px;
  margin-bottom: 50px;
  border: 3px solid black;
  background-color: white;
  font-family: fantasy;

}
.opros button{
  border-radius: 15px;
  margin-bottom: 50px;
  border: 3px solid black;
  font-family: fantasy;
  background-color: #4a827c;
}
.opros button:hover{
  color: #6c4a82;
  background-image: url(https://photo.in.ck.ua/event/59a7/d29d/c101/0531/f100/009d/nabir-na-kursy-programuvannya-dlya-shkolyariv.8.jpeg?1548842296);
  background-size: 85%;
  font-size: 16px;

}
.footer button:hover{
  background-image: url(https://photo.in.ck.ua/event/59a7/d29d/c101/0531/f100/009d/nabir-na-kursy-programuvannya-dlya-shkolyariv.8.jpeg?1548842296);
  background-size: 85%;
  font-size: 16px;
  color:#370757;

}
.footer a:hover{
	color:white;
}

.History a{
  color: #733280;
}
.biografi a{
  color: #80323b;
}
